@keyframes heart-pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@keyframes star-spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.2); }
  100% { transform: rotate(360deg) scale(1); }
}

@keyframes bookmark-bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px) scale(1.1); }
  100% { transform: translateY(0); }
}

.icon-animate-heart {
  animation: heart-pop 0.3s ease;
}

.icon-animate-bookmark {
  animation: bookmark-bounce 0.3s ease;
}

.post-title {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -2px;
}

.post-title:hover {
    color: #007bff; /* สีน้ำเงิน */
    transform: scale(1.05);
}

